<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itheima.mapper.OrdersMapper">


    <resultMap id="ordersMap" type="orders">
        <id property="id" column="id"/>
        <!--配置订单与产品的一对一映射关系
            根据订单表中产品的id到产品表中查询对应的产品信息
        -->
        <association property="product" javaType="product" column="productId" select="com.itheima.mapper.ProductMapper.findAll" fetchType="lazy"/>
    </resultMap>
    <select id="findAll" parameterType="string" resultMap="ordersMap">
        SELECT * FROM ORDERS
        <where>
            <if test="value!=null and value.length>0">
                and ordernum like '%${value}%'
            </if>
        </where>
    </select>

</mapper>