<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itheima.mapper.ProductMapper">


    <!--根据订单表中产品的id到产品表中查询对应的产品信息
    <select id="findProductById" parameterType="string" resultType="product">
         SELECT * FROM PRODUCT WHERE id=#{id}
    </select>
-->
    <select id="findAll" parameterType="string" resultType="product">
        SELECT * FROM PRODUCT
        <where>
            <if test="value!=null and value.length>0">
                id=#{id}
            </if>
        </where>
    </select>

    <delete id="deleteAll" parameterType="list">
        DELETE FROM PRODUCT
        <where>
            <if test="array!=null and array.length>0">
                <foreach collection="array" open="id in(" close=")" separator="," item="id">
                    #{id}
                </foreach>
            </if>
        </where>
    </delete>
</mapper>