<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itheima.mapper.RoleMapper">

    <resultMap id="roleMap" type="role">
        <id property="id" column="id"/>
        <collection property="permissions" ofType="permission" column="id"
                    select="com.itheima.mapper.PermissionMapper.findByRoleId" fetchType="lazy"/>
    </resultMap>


  <select id="findRolesByUserId" parameterType="string" resultMap="roleMap">
      SELECT * FROM ROLE WHERE ID IN (SELECT ROLEID FROM USERS_ROLE WHERE USERID =#{uid})
  </select>

    <select id="findAll" resultMap="roleMap">
         SELECT * FROM ROLE
    </select>
</mapper>