<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itheima.mapper.UserMapper">

    <resultMap id="userInfoMapper" type="userInfo">
        <id property="id" column="id"/>
        <!--用户与角色的一对多的关系-->
        <collection property="roles" ofType="role" column="id"
                    select="com.itheima.mapper.RoleMapper.findRolesByUserId" fetchType="lazy"/>
    </resultMap>

    <select id="findUserByName" parameterType="string" resultMap="userInfoMapper">
        SELECT * FROM USERS WHERE USERNAME=#{username}
    </select>
    <!--遍历所有用户-->
    <select id="findAll" resultMap="userInfoMapper">
        SELECT * FROM USERS
    </select>
    <!--根据Id查询当前用户信息-->
    <select id="findUserById" parameterType="string" resultMap="userInfoMapper">
        SELECT * FROM USERS WHERE ID=#{uid}
    </select>

    <!--删除-->
    <delete id="deleteUserRoles" parameterType="string">
        DELETE FROM USERS_ROLE WHERE USERID=#{uid}
    </delete>
    <insert id="saveUserRoles">
        INSERT INTO USERS_ROLE VALUES (#{userId},#{roleId})
    </insert>

</mapper>