<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itheima.mapper.UserMapper">

    <select id="login" resultType="user" parameterType="user">
        SELECT  * FROM user WHERE username=#{username} AND pwd=#{pwd}
    </select>

    <!--查询所有用户信息-->
    <select id="findAll" resultType="user" parameterType="pageBean">
         SELECT  * FROM user limit #{pageStart},#{pageSize}
    </select>
    <!--保存用户-->
    <insert id="saveUser" parameterType="user">
        insert into user(username,pwd,pic,sex,age,address,qq,email) values(#{username},#{pwd},#{pic},#{sex},#{age},#{address},#{qq},#{email})
    </insert>
</mapper>